[submodule "dep/Detect-It-Easy"]
	path = dep/Detect-It-Easy
	url = https://github.com/horsicq/Detect-It-Easy.git
[submodule "dep/Formats"]
	path = dep/Formats
	url = https://github.com/horsicq/Formats.git
[submodule "dep/SpecAbstract"]
	path = dep/SpecAbstract
	url = https://github.com/horsicq/SpecAbstract.git
[submodule "dep/StaticScan"]
	path = dep/StaticScan
	url = https://github.com/horsicq/StaticScan.git
[submodule "dep/XArchive"]
	path = dep/XArchive
	url = https://github.com/horsicq/XArchive.git
[submodule "dep/XQwt"]
	path = dep/XQwt
	url = https://github.com/horsicq/XQwt.git
[submodule "dep/XOptions"]
	path = dep/XOptions
	url = https://github.com/horsicq/XOptions.git
[submodule "dep/XStyles"]
	path = dep/XStyles
	url = https://github.com/horsicq/XStyles.git
[submodule "dep/XTranslation"]
	path = dep/XTranslation
	url = https://github.com/horsicq/XTranslation.git
[submodule "dep/XDEX"]
	path = dep/XDEX
	url = https://github.com/horsicq/XDEX.git
[submodule "dep/FormatDialogs"]
	path = dep/FormatDialogs
	url = https://github.com/horsicq/FormatDialogs.git
[submodule "dep/FormatWidgets"]
	path = dep/FormatWidgets
	url = https://github.com/horsicq/FormatWidgets.git
[submodule "dep/Controls"]
	path = dep/Controls
	url = https://github.com/horsicq/Controls.git
[submodule "dep/XMemoryMapWidget"]
	path = dep/XMemoryMapWidget
	url = https://github.com/horsicq/XMemoryMapWidget.git
[submodule "dep/XEntropyWidget"]
	path = dep/XEntropyWidget
	url = https://github.com/horsicq/XEntropyWidget.git
[submodule "dep/XCapstone"]
	path = dep/XCapstone
	url = https://github.com/horsicq/XCapstone.git
[submodule "dep/XHashWidget"]
	path = dep/XHashWidget
	url = https://github.com/horsicq/XHashWidget.git
[submodule "dep/die_script"]
	path = dep/die_script
	url = https://github.com/horsicq/die_script.git
[submodule "dep/die_widget"]
	path = dep/die_widget
	url = https://github.com/horsicq/die_widget.git
[submodule "dep/nfd_widget"]
	path = dep/nfd_widget
	url = https://github.com/horsicq/nfd_widget.git
[submodule "dep/archive_widget"]
	path = dep/archive_widget
	url = https://github.com/horsicq/archive_widget.git
[submodule "dep/XMIME"]
	path = dep/XMIME
	url = https://github.com/horsicq/XMIME.git
[submodule "dep/XSingleApplication"]
	path = dep/XSingleApplication
	url = https://github.com/horsicq/XSingleApplication.git
[submodule "dep/XMIMEWidget"]
	path = dep/XMIMEWidget
	url = https://github.com/horsicq/XMIMEWidget.git
[submodule "dep/XHexView"]
	path = dep/XHexView
	url = https://github.com/horsicq/XHexView.git
[submodule "dep/XDisasmView"]
	path = dep/XDisasmView
	url = https://github.com/horsicq/XDisasmView.git
[submodule "dep/XGithub"]
	path = dep/XGithub
	url = https://github.com/horsicq/XGithub.git
[submodule "dep/XShortcuts"]
	path = dep/XShortcuts
	url = https://github.com/horsicq/XShortcuts.git
[submodule "dep/XHexEdit"]
	path = dep/XHexEdit
	url = https://github.com/horsicq/XHexEdit.git
[submodule "dep/signatures"]
	path = dep/signatures
	url = https://github.com/horsicq/signatures.git
[submodule "dep/XDemangle"]
	path = dep/XDemangle
	url = https://github.com/horsicq/XDemangle.git
[submodule "dep/XDemangleWidget"]
	path = dep/XDemangleWidget
	url = https://github.com/horsicq/XDemangleWidget.git
[submodule "dep/XCppfilt"]
	path = dep/XCppfilt
	url = https://github.com/horsicq/XCppfilt
[submodule "dep/XDynStructs"]
	path = dep/XDynStructs
	url = https://github.com/horsicq/XDynStructs
[submodule "dep/XDynStructsEngine"]
	path = dep/XDynStructsEngine
	url = https://github.com/horsicq/XDynStructsEngine
[submodule "dep/XDynStructsWidget"]
	path = dep/XDynStructsWidget
	url = https://github.com/horsicq/XDynStructsWidget
[submodule "dep/XFileInfo"]
	path = dep/XFileInfo
	url = https://github.com/horsicq/XFileInfo
[submodule "dep/XPDF"]
	path = dep/XPDF
	url = https://github.com/horsicq/XPDF
[submodule "dep/XInfoDB"]
	path = dep/XInfoDB
	url = https://github.com/horsicq/XInfoDB
[submodule "dep/XSymbolsWidget"]
	path = dep/XSymbolsWidget
	url = https://github.com/horsicq/XSymbolsWidget
[submodule "dep/XOnlineTools"]
	path = dep/XOnlineTools
	url = https://github.com/horsicq/XOnlineTools
[submodule "dep/XAboutWidget"]
	path = dep/XAboutWidget
	url = https://github.com/horsicq/XAboutWidget
[submodule "dep/hex_templates"]
	path = dep/hex_templates
	url = https://github.com/horsicq/hex_templates
[submodule "dep/XExtractorWidget"]
	path = dep/XExtractorWidget
	url = https://github.com/horsicq/XExtractorWidget
[submodule "dep/XExtractor"]
	path = dep/XExtractor
	url = https://github.com/horsicq/XExtractor
[submodule "dep/XUpdate"]
	path = dep/XUpdate
	url = https://github.com/horsicq/XUpdate
[submodule "dep/XVisualizationWidget"]
	path = dep/XVisualizationWidget
	url = https://github.com/horsicq/XVisualizationWidget
[submodule "dep/XDecompiler"]
	path = dep/XDecompiler
	url = https://github.com/horsicq/XDecompiler
[submodule "dep/XYara"]
	path = dep/XYara
	url = https://github.com/horsicq/XYara
[submodule "dep/yara_widget"]
	path = dep/yara_widget
	url = https://github.com/horsicq/yara_widget
[submodule "dep/XDataConvertorWidget"]
	path = dep/XDataConvertorWidget
	url = https://github.com/horsicq/XDataConvertorWidget
[submodule "dep/XScanEngine"]
	path = dep/XScanEngine
	url = https://github.com/horsicq/XScanEngine
[submodule "dep/XDisasmCore"]
	path = dep/XDisasmCore
	url = https://github.com/horsicq/XDisasmCore.git
[submodule "dep/XRegionsWidget"]
	path = dep/XRegionsWidget
	url = https://github.com/horsicq/XRegionsWidget.git
[submodule "dep/XStaticUnpacker"]
	path = dep/XStaticUnpacker
	url = https://github.com/horsicq/XStaticUnpacker
[submodule "dep/XPEID"]
	path = dep/XPEID
	url = https://github.com/horsicq/XPEID
[submodule "dep/build_tools"]
	path = dep/build_tools
	url = https://github.com/horsicq/build_tools.git
[submodule "dep/peid_widget"]
	path = dep/peid_widget
	url = https://github.com/horsicq/peid_widget
