[Desktop Entry]
Version=3.02
Type=Application
Name=Detect It Easy
Comment=Detect It Easy, or abbreviated "DIE" is a program for determining types of files.
TryExec=die
Exec=die %F
Icon=die
Terminal=false
Categories=Development
MimeType=application/octet-stream