[Desktop Entry]
Type=Application
Name=Detect It Easy
Comment=Advanced file analyzer
Exec=die %F
Icon=detect-it-easy
Categories=Development;
MimeType=application/octet-stream;
