[Desktop Entry]
Type=Application
Name=Detect It Easy
Comment=Advanced file analyzer
Exec=die %F
Icon=io.github.horsicq.detect-it-easy
Categories=Development;
MimeType=application/octet-stream;
StartupWMClass=die
